/*.iml
/.gitignore

/.idea
/common/common.iml
/dao/dao.iml
/interface/interface.iml

/pojo/pojo.iml
/service_search/target
/service_user/target

/service_sellergoods/service_sellergoods.iml
/service_buyer/service_buyer.iml
/service_page/service_page.iml
/service_user/service_user.iml
/service_search/service_search.iml

/solr_util/solr_util.iml

/web_manager/web_manager.iml
/web_portal/web_portal.iml
/web_shop/web_shop.iml
/web_user/web_user.iml

target
target
target
target
target
target
target
target
target
target
/dao/src/main/resources/properties/db.properties
